<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
   
</head>
<body>
       
            <canvas id="myChart4"></canvas>
       


    <script>
        function criaGrafico(cardId, nome, dataModel) {
            var data = {
                labels: ["ATRAZO", "FREQ", "CHEIA", "NOVA", "CRES", "MING"],
                datasets: [{
                    label: nome,
                    backgroundColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)',],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 99, 132, 1)',],


                    data: dataModel
                }]
            };


            var ctx = document.getElementById(cardId).getContext("2d");
            var myChart = new Chart(ctx, {
                type: "bar",
                data: data,
                options: {
                     scales: {
                        yAxes: [{
                            display: false
                        }],
                          xAxes: [{
                            display: false
                        }]
                    }
                }
            });
        }

        var dadosModelo = [500, 500, 300, 150, 200, 74];
        var nome = "bolinha4";
        var id = "myChart4";
        criaGrafico(id, nome, dadosModelo);

    </script>

</body>
</html> 